@import "tailwindcss";

:root {
  --primary: var(--color-teal-600);
  --accent: var(--color-teal-800);

  --background: var(--color-white);
  --background-muted: var(--color-gray-200);
  --background-reversed: var(--color-gray-950);

  --foreground: var(--color-gray-500);
  --foreground-reversed: var(--color-white);
  --foreground-titles: var(--color-gray-900);
  --foreground-titles-cards: var(--color-gray-800);

  --border: var(--color-gray-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-roboto);

  --color-primary: var(--primary);
  --color-accent: var(--accent);

  --color-background: var(--background);
  --color-background-muted: var(--background-muted);
  --color-background-reversed: var(--background-reversed);

  --color-foreground: var(--foreground);
  --color-foreground-reversed: var(--foreground-reversed);
  --color-foreground-titles: var(--foreground-titles);
  --color-foreground-card-titles: var(--foreground-card-titles);

  --color-border: var(--border);
}

/** --- GLOBALS --- */

body {
  @apply grid min-h-svh grid-cols-1 grid-rows-[auto_1fr_auto] bg-background font-mono text-foreground;
}

@layer components {
  /** --- TYPOGRAPHY --- */

  .title__main {
    @apply font-sans text-3xl font-bold text-white uppercase md:text-4xl;
  }
  .title__section {
    @apply font-sans text-3xl font-bold text-foreground-titles;
  }
  .title__card {
    @apply font-sans text-xl font-bold;
  }
  .title__footer__col {
    @apply text-xs text-accent uppercase;
  }

  /** --- ELEMENTS --- */

  .container__block {
    @apply container mx-auto max-w-5xl max-xl:px-4;
  }

  .first__section {
    @apply min-h-[calc(100vh-6rem)];
  }

  .cta {
    @apply rounded-sm border border-primary bg-white px-4 py-2 text-primary transition-all duration-150 ease-in-out hover:bg-primary hover:text-white active:bg-accent active:text-white;
  }

  .tag {
    @apply w-fit rounded-full bg-primary px-5 py-2 text-xs text-foreground-reversed uppercase hover:bg-background hover:text-primary;
  }

  .gradient__section {
    @apply bg-gradient-to-b from-background-reversed/0 to-background-reversed/70;
  }
  .gradient__card {
    @apply bg-gradient-to-b from-background-reversed/80 from-5% via-background-reversed/70 via-20% to-background-reversed/0 to-40%;
  }
}
