/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@import "tailwindcss";

:root {
  --primary: var(--color-teal-600);
  --accent: var(--color-teal-800);

  --background: var(--color-white);
  --background-muted: var(--color-gray-200);
  --background-reversed: var(--color-gray-950);

  --foreground: var(--color-gray-500);
  --foreground-reversed: var(--color-white);
  --foreground-titles: var(--color-gray-900);
  --foreground-titles-cards: var(--color-gray-800);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-roboto);

  --color-primary: var(--primary);
  --color-accent: var(--accent);

  --color-background: var(--background);
  --color-background-muted: var(--background-muted);
  --color-background-reversed: var(--background-reversed);

  --color-foreground: var(--foreground);
  --color-foreground-reversed: var(--foreground-reversed);
  --color-foreground-titles: var(--foreground-titles);
  --color-foreground-card-titles: var(--foreground-card-titles);
}

/** --- GLOBALS --- */

body {
  @apply grid min-h-svh grid-cols-1 grid-rows-[auto_1fr_auto] bg-background font-mono text-foreground;
}

h1 {
  @apply font-sans text-3xl font-bold uppercase;
}
h2 {
  @apply font-sans text-3xl font-bold;
}
h3 {
  @apply font-sans text-xl font-bold;
}

/** --- CUSTOM CLASSES --- */

@utility first__section {
  @apply min-h-[calc(100vh-6rem)];
}

@utility cta {
  @apply rounded-md border-2 border-background bg-background px-4 py-2 text-primary;
}
